<div class="card shrink-0 w-full max-w-m {{ settings.general_shadow }}">
    {% form 'contact' %}
        <div class="card-body">
            <h3 class="text-center">Say hallo!</h3>
            {% if form.errors %}
                <div class="alert alert-error">
                    <span>Sorry, looks like something went wrong, please try again.</span>
                </div>
            {% endif %}
            {% if form.success %}
                <div class="alert alert-success">
                    <span>Thank you for the message, we will contact you shortly!</span>
                </div>
            {% else %}
            <div class="form-control">
                <label class="input input-bordered{% if form.errors contains 'name' %} input-error{% endif %} flex items-center gap-2 input-lg">
                  <input type="text" name="name" class="grow" placeholder="Name" required/>
                </label>
            </div>
            <div class="form-control">
                <label class="input input-bordered{% if form.errors contains 'email' %} input-error{% endif %} flex items-center gap-2 input-lg">
                  <input type="email" name="email" class="grow" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email" autocorrect="off" autocapitalize="off" required />
                </label>
            </div>
            <div class="form-control">
                <textarea placeholder="Message" name="message" rows="4" class="textarea textarea-bordered{% if form.errors contains 'message' %} textarea-error{% endif %} textarea-lg w-full" required ></textarea>
            </div>
            <input type="submit" name="Submit" class="btn btn-primary" value="Submit">
            {% endif %}
        </div>
    {% endform %}
</div>
