<section class="p-10 mx-auto">
  <header class="flex justify-between">
        <h1 class="mt-2 text-2xl uppercase">My Account</h1>
        <p>
            <a class="btn" href="{{ 'customer/account' | url }}">{{ lang.return_to_account_details | def:'Return to Account details' }}</a>
            <a class="btn" href="logout" >Logout</a>
        </p>
        
  </header>
  <div class="divider"></div>
  <section>
      <header>
          <h2>Addresses</h2>
      </header>
      <div>
        {% for address in customer.addresses %}
            <div>{{ address | inspect }}</div>
        {% endfor %}
      </div>
    <a href="#" class="btn" onclick="return shop.user.address.toggleNewForm();">{{ lang.add_new_address | def:'Add New Address' }}</a>
  </section>
</section>

