<section class="p-10 prose mx-auto">
    <div class="card shrink-0 w-full max-w-m {{ settings.general_shadow }} bg-base-200">
        {% form 'customer_login' id:'customer_login' %}
            <div class="card-body">
                <h3 class="text-center">Log in</h3>
                {% if form.errors %}
                    <div class="alert alert-error">
                        <span>Sorry, looks like something went wrong, please try again.</span>
                    </div>
                {% endif %}
                <div class="form-control">
                    <label class="input input-bordered{% if form.errors contains 'email' %} input-error{% endif %} flex items-center gap-2 input-lg">
                      <input type="email" name="customer[email]" class="grow" value="" placeholder="Email" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
                <div class="form-control">
                    <label class="input input-bordered{% if form.errors contains 'email' %} input-error{% endif %} flex items-center gap-2 input-lg">
                      <input type="password" name="customer[password]" class="grow" value="" placeholder="*****" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
                <input type="submit" name="Submit" class="btn btn-primary" value="Submit">
            </div>
        {% endform %}
    </div>
</section>
