<section class="p-10 prose mx-auto">
    <div class="card shrink-0 w-full max-w-m {{ settings.general_shadow }} bg-base-200">
        {% unless reset %}
            <div class="card-body text-center">
                <h3>Reset token invalid!</h3>
                <p class="text-xl">The password reset has probably expired, <br>already been used or deleted.</p>
                <a class="mt-2" href="{{'customer/login' | url}}">Back to login</a>
            </div>
        {% else %}
  		{% form 'reset_customer_password' %}

            <div class="card-body">
                <h3 class="text-center">Reset password</h3>

  			    <p  class="text-center">{{ lang.enter_a_new_password_for_x | def:'Enter a new password' }}</p>

  			    {% include 'formErrorsCustom' %}
  			    
  			    <div class="form-control">
                    <label class="input input-bordered{% if form.errors contains 'password' %} input-error{% endif %} flex items-center gap-2 input-lg">
                      <input type="password" name="customer[password]" class="grow" value="" placeholder="" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
  			    <div class="form-control">
                    <label class="input input-bordered{% if form.errors contains 'password_confirmation' %} input-error{% endif %} flex items-center gap-2 input-lg">
                      <input type="password" name="password_confirmation" class="grow" value="" id="password_confirmation" placeholder="" autocorrect="off" autocapitalize="off" required />
                    </label>
                </div>
  				<input type="submit" class="btn btn-primary" value="{{ lang.reset_password | def:'Reset password' | escape }}">

  		{% endform %}
        {% endunless %}
  </div>
</section>
