<section class="mx-auto">
    <header>
        <h1 class="mt-2 text-2xl">Collections</h1>
    </header>
    <div>
    {% for collection in collections %}
    <section class="mt-10 mb-4">
        <h2 class="text-3xl mb-4 font-bold">
            <a href="{{ collection | url }}">{{ collection.title }}</a>
        </h2>
        {% if collection.html != blank %}
        <p>{{ collection.html | strip_html | truncatewords: 20 }}</p>
        {% endif %}
        {% unless collection.products == empty %}
        <div class="mt-10 grid grid-cols-2 lg:grid-cols-4 gap-4">
        {% for product in collection.products %}
            {% include 'product-card' %}
    	{% endfor %}
	    </div>
        {% endunless %}
    </section>
    {% endfor %} 
    </div>
</section>
