{% assign productAmount = settings.colProductCount | def:"4" %}
{% assign productImgWidth = 1450 | divided_by:productAmount %}
<section>
    <div class="prose">
        <h1>{{ meta.h1 }}</h1>
        <div class="{{ collection.format }}">{{ collection.html }}</div>       
    </div>
	<div class="mt-10 collection-template-container gap-4">
    	{% for product in collection.products %}
    	    {% include 'productCard' %}
    	{% endfor %}
	</div>
</section>
