{% assign checkoutTitle = 'Checkout' %}
{% title checkoutTitle %}
<section class="mx-auto flex flex-col items-center prose">
    <h1>{{checkoutTitle}}</h1>
        <div class="w-full border border-1 border-base-300 rounded p-4 bg-base-100">
            <div class="grid" id="checkout-grid">
                <div>
                
                    <div class="italic text-center">                    
                        <p>This demoshop for Cradle eCommerce does not have any Checkout.</p>
                    </div>
            </div>
            <hr class="hr--clear">
            <div class="flex justify-center">
                <a href="/">
        			{{ lang.return_to_store | def:"Return to frontpage" }}
        		</a>
            </div>
        </div>
    </div>
</section>
